$color-normal: #ada2a2;
$color-fighting: #e04545;
$color-flying: #2c17c6;
$color-poison: #9e0ea0;
$color-ground: #e59916;
$color-rock: #66480c;
$color-bug: #2d9e1c;
$color-ghost: #82278e;
$color-steel: #6b6b6b;
$color-fire: #ef1a1a;
$color-water: #0052e0;
$color-grass: #32e53e;
$color-electric: #efff3f;
$color-psychic: #b77bb4;
$color-ice: #000cff;
$color-dragon: #d1535e;
$color-dark: #210707;
$color-fairy: #d637bb;
$color-unknow: #adadad;
$color-shadow: #9454a3;
$color-white: #fff;
